.featured {
	height: 100vh;
	@media (max-width: 760px) {
		& {
			height: 95vh;
		}
	}

	&__Vertical {
		width: inherit;
		height: inherit;
		background: linear-gradient(to top, #111 10%, transparent 90%);
	}

	&__Horizontal {
		width: inherit;
		height: inherit;
		background: linear-gradient(to right, #111 30%, transparent 70%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 30px;
		padding-bottom: 190px;
		padding-top: 70px;
	}

	&__Name {
		font-size: 60px;
		font-weight: bold;
		@media (max-width: 760px) {
			& {
				font-size: 30px;
			}
		}
	}

	&__Info {
		font-size: 18px;
		font-weight: bold;
		margin-top: 15px;
		@media (max-width: 760px) {
			& {
				font-size: 16px;
			}
		}
	}

	&__Points,
	&__Year,
	&__Seasons {
		margin-right: 15px;
		display: inline-block;
	}

	&__Points {
		color: rgb(250, 36, 36);
	}

	&__Description {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		color: #999;
		display: -webkit-box;
		font-size: 17px;
		margin-top: 15px;
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (max-width: 760px) {
			& {
				font-size: 14px;
				max-width: 100%;
				margin-right: 30px;
			}
		}
	}

	&__Buttons {
		margin-top: 15px;
	}

	&__WatchButton {
		background-color: rgb(250, 36, 36);
		color: #fff;
	}

	&__MyListButton {
		background-color: #333;
		color: #fff;
	}

	&__Genres {
		margin-top: 15px;
		font-size: 18px;
		color: #999;
		@media (max-width: 760px) {
			& {
				font-size: 14px;
			}
		}
	}

	&__WatchButton,
	&__MyListButton {
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		padding: 15px 20px;
		border-radius: 5px;
		text-decoration: none;
		margin-right: 10px;
		opacity: 1;
		transition: all ease 0.2s;
		@media (max-width: 760px) {
			& {
				font-size: 16px;
			}
		}
	}
}
